.header {
  height: 10vh;
  display: flex;
  flex: 1;
  background-color: #b7dee6;
  font-size: 40px;
  border-width: 0;
  border-bottom: 2px gray;
  border-style: solid;
}
.header-application {
  flex: 2;
  align-self: flex-end;
}
.header-stats {
  flex: 1;
  font-size: 20px;
  align-self: flex-end;
  color: #248487;
}
.container {
  background-color: whitesmoke;
  position: absolute;
  width: 80vw;
  height: 100vh;
  left: 10vw;
}
.app-section {
  display: flex;
  
}
.form {
  background-color: whitesmoke;
  border-width: 0;
  flex: 10;
  align-self: flex-end;
  overflow-y: scroll;
  border-bottom: 1px gray;
  border-style: solid;
  height: 70vh;
}
.app-options {
  flex: 1;
  align-self: flex-end;
  display: table;
}
.app-options textarea {
  display: table-cell;
  vertical-align: middle;
  height: 40vh;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
  overflow-y:scroll;
}
.app-options #flag-checkbox {
  display: table-cell;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
}
.app-question {
  margin-left: 15px;
  margin-right: 15px;
}
.app-field {
  font-weight: 700;
}
.app-response {
  text-indent: 50px;
}