.header {
  margin-top: 5vh;
  display: flex;
  flex: 1;
  background-color: aquamarine;
  font-size: 40px;
  border-width: 0;
  border-bottom: 1px gray;
  border-style: solid;
}
.header-application {
  flex: 2;
  align-self: flex-end;
}
.header-stats {
  flex: 1;
  font-size: 20px;
  align-self: flex-end;
  color: grey;
}
.container {
  background-color: bisque;
  position: absolute;
  width: 70vw;
  height: 100vh;
  left: 15vw;
}
.app-section {
  display: flex;
  
}
.form {
  background-color: rgb(194, 110, 110);
  border-width: 0;
  flex: 10;
  align-self: flex-end;
  overflow-y: scroll;
  border-bottom: 1px gray;
  border-style: solid;
  height: 70vh;
}
.app-options {
  flex: 1;
  align-self: flex-end;
  display: table;
}
.app-options textarea {
  display: table-cell;
  vertical-align: middle;
  height: 40vh;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
  overflow-y:scroll;
}
.app-options #flag-checkbox {
  display: table-cell;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
}
.app-line {

}