.header {
  margin-top: 5vh;
  display: flex;
  flex: 1;
  background-color: aquamarine;
  font-size: 40px;
  border-width: 0;
  border-bottom: 1px gray;
  border-style: solid;
}
.header-application {
  flex: 2;
  padding-left: 1vw;
  padding-right: 1vw;
}
.header-stats {
  flex: 1;
  font-size: 20px;
  color: grey;
  padding-left: 1vw;
  padding-right: 1vw;
}
.container {
  background-color: bisque;
  position: absolute;
  width: 70vw;
  height: 100vh;
  left: 15vw;
}
.form {
  background-color: rgb(194, 110, 110);
  border-width: 0;

  border-bottom: 1px gray;
  border-style: solid;
  height: 70vh;

  overflow: scroll;
}
