/* wrapper div */
.container {
  background-color: whitesmoke;
  left: 10vw;
  right: 10vw;
}
/* header bar */
.header {
  height: 10vh;
  display: flex;
  flex: 1;
  background-color: #b7dee6;
  font-size: 40px;
  border-width: 0;
  border-bottom: 2px gray;
  border-style: solid;
}
.header-application {
  flex: 2;
  align-self: flex-end;
  text-indent: 30px;
}
.header-stats {
  flex: 1;
  font-size: 20px;
  align-self: flex-end;
  color: #248487;
}
.app-section {
  display: flex;
}
/* app reading area */
.app-view {
  background-color: whitesmoke;
  border-width: 0;
  flex: 10;
  align-self: flex-end;
  overflow-y: scroll;
  border-bottom: 1px gray;
  border-style: solid;
  height: 70vh;
}
/* app responses */
.app-question {
  margin-left: 15px;
  margin-right: 15px;
}
.app-field {
  font-weight: 700;
}
.app-response {
  text-indent: 50px;
}
/* user input area */
.app-options {
  position: relative;
  height: 100%;
  flex: 1;
  align-self: flex-end;
  flex-grow: 1;
  display: table;
  border-bottom: solid;
  text-indent: 10px;
  border-width: 1px;
}
.reviewer-name {
  bottom: 10vh;
}
.app-options textarea {
  display: table-cell;
  height: 40vh;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
  border-style: solid;
  border-radius: 10px;
}
.app-options #flag-checkbox {
  display: table-cell;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
}
/* toast */
.toast {
  background-color: #00aaba;
  width: 10vw;
  height: 5vw;
  border-style: solid;
  border-radius: 15px;
}
.toast-text {
  vertical-align: middle;
}